.noUi-target * {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-touch-callout:none; -ms-touch-action:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;
                cursor:default;}
	.noUi-base {height:1px; width:168px; position:relative; max-width:100%; margin:10px 0 0 0; border-bottom: 1px solid #c9c7c7;}
	.noUi-handle {background:#0ebff1; height:12px; width:12px; margin:-6px 0 0 -7px; border-radius:6px; cursor:pointer;}
	.noUi-active {}
	.noUi-active:after {content:""; display:block; height:100%;}
	.noUi-connect {background:Teal;}
	.noUi-background {background:#c2c2c2;}
	.noUi-origin {position:absolute; right:0; top:0; bottom:0; z-index:0; background:#0ebff1; height: 1px;}
	.noUi-origin-upper {background:inherit !important;}
	.noUi-z-index {z-index:10;}
	.noUi-vertical {height:300px; width:40px; max-height:100%;}
	.noUi-vertical .noUi-origin {bottom:0; left:0;}
	.noUi-vertical .noUi-handle {margin:-23px 0 0 -3px;}
	.noUi-target[disabled] .noUi-base {background:#999;}
	.noUi-target[disabled] .noUi-connect {background:#BBB;}
	.noUi-state-tap .noUi-origin {-webkit-transition:left 0.3s, top 0.3s; transition: left 0.3s, top 0.3s;}